/**
 * basic info
 */
.basic_info_frame{
padding-top: 20px;
}
.inputss{
    margin-left: 20px;
}
.inputss li{
    position: relative;
    margin-bottom: 15px;
}

.inputss li input{
    border-color: #cfcfcf;
    color: #4d4d4d;
    background: none;
    border: 1px solid #ccc;
    height: 28px;
    width: 269px;
    padding: 0 6px;
    outline: none;
}
.inputss .lastf input{
	display: inline;
    float: left;
    border: none;
    width: 283px;
    height: 30px;
    background: #FF4466;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
    outline: none;
}
.inputss li textarea{
	border-color: #cfcfcf;
    color: #4d4d4d;
    background: none;
    border: 1px solid #ccc;
    height: 56px;
    width: 645px;
    padding: 0 6px;
    outline: none;
    resize: vertical;
}
.edit_b{
    color: #4d4d4d;
    font-size: 12px;
    font-family: sans-serif;
}
.edit_b i{
    margin-right: 2px;
}
.edit_b:hover{
    color: #ff4466;
}
