* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: #F2F2F2;
}
.common_section {
  width: 100%;
}
.common_width {
  margin: 0 auto;
  width: 1200px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.a_fontset {
  font-family: sans-serif;
  font-size: 12px;
  color: #333;
  transition: all 0.5s;
}
.a_fontset:hover {
  color: #F46;
}
.header {
  width: 100%;
}
.header_top_frame {
  width: 100%;
  height: 31px;
  background: #f2f2f2;
  border-bottom: 1px solid #ddd;
}
.header_top {
  margin: 0 auto;
  width: 1200px;
  height: 31px;
  background: #F2F2F2;
  font-family: sans-serif;
  font-size: 12px;
}
.header_top .home_link {
  float: left;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  vertical-align: top;
  font-family: sans-serif;
  font-size: 12px;
  color: #333;
  transition: all 0.5s;
}
.header_top .home_link:hover {
  color: #F46;
}
.header_top .home_link i {
  font-size: 16px;
  margin-right: 4px;
}
.header_top .top_menu {
  float: right;
}
.header_top .top_menu .s1 {
  float: left;
  display: inline;
  height: 31px;
  position: relative;
  margin: 0px 0px 0px 15px;
  z-index: 100;
}
.header_top .top_menu .s1 .menu_name {
  float: left;
  margin-top: 8px;
  line-height: 14px;
  font-family: sans-serif;
  font-size: 12px;
  color: #333;
  transition: all 0.5s;
}
.header_top .top_menu .s1 .menu_name:hover {
  color: #F46;
}
.header_top .top_menu .has-line .menu_name {
  padding-left: 15px;
  border-left: 1px solid #ddd;
}
.header_top .top_menu .has-line i {
  margin-right: 4px;
}
.header_top .top_menu .icon-b .cus {
  padding-left: 15px;
  border-left: 1px solid #ddd;
}
.header_top .top_menu .icon-b i {
  margin-left: 4px;
  transition: all 0.3s;
}
.header_top .top_menu .login_user:hover a i {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  display: inline-block;
}
.header_top .top_menu .login_user:hover ul {
  display: block;
}
.header_top .top_menu .login_user ul {
  display: none;
  width: 90px;
  background: #F2F2F2;
  position: absolute;
  top: 31px;
  left: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #ddd;
  border-top: none;
}
.header_top .top_menu .login_user ul li {
  margin-bottom: 2px;
}
.header_top .top_menu .login_user ul li a {
  float: none;
  display: block;
  line-height: 28px;
  padding: 0 20px;
  margin: 0;
  overflow: hidden;
  color: #444;
}
.header_top .top_menu .login_user ul li a:hover {
  background: #e4e4e4;
}
.header_top .top_menu .my-store a {
  padding-left: 15px;
  border-left: 1px solid #ddd;
}
.header_top .top_menu .my-store span {
  margin-right: 4px;
  width: 21px;
  height: 21px;
  display: block;
  background: #FF5858;
  float: left;
  font-size: 8px;
  color: white;
  text-align: center;
  line-height: 21px;
  border-radius: 3px;
  margin-top: -3px;
}
.header_top .top_menu .shoping-car:hover .shoping_list {
  display: block;
}
.header_top .top_menu .shoping-car i {
  color: #f46;
  font-size: 14px;
}
.header_top .top_menu .shoping-car .shoping_list {
  display: none;
  width: 250px;
  background: #F2F2F2;
  position: absolute;
  top: 31px;
  left: -100px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #ddd;
  border-top: none;
  padding: 20px;
}
.header_top .top_menu .shoping-car .shoping_list li {
  width: 100%;
  height: 40px;
  float: left;
  margin-bottom: 10px;
}
.header_top .top_menu .shoping-car .shoping_list li .shop_img {
  float: left;
  margin-right: 10px;
}
.header_top .top_menu .shoping-car .shoping_list li .shoping_name {
  display: inline-block;
  color: #333;
  width: 137px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  transition: all 0.6s;
}
.header_top .top_menu .shoping-car .shoping_list li .shoping_name:hover {
  color: #FF4466;
}
.header_top .top_menu .shoping-car .shoping_list li .shoping_price {
  float: right;
  color: #666;
}
.header_top .top_menu .shoping-car .shoping_list li .shoping_info {
  float: left;
  color: #999;
}
.header_top .top_menu .shoping-car .shoping_list li .shoping_dell {
  float: right;
  cursor: pointer;
  color: #999;
}
.header_top .top_menu .shoping-car .shoping_list .nogood {
  text-align: center;
  line-height: 40px;
  color: #999;
}
.header_top .top_menu .shoping-car .shoping_list .subbox {
  border-top: 1px solid #ddd;
  color: #333;
  padding: 15px 0 0 0;
  line-height: 24px;
  height: 24px;
  float: left;
  width: 100%;
}
.header_top .top_menu .shoping-car .shoping_list .subbox .caring {
  color: white;
  float: right;
  display: block;
  background: #F46;
  border: none;
  padding: 0px 16px;
  border-radius: 4px;
  font-size: 12px;
}
.header_top .top_menu .custom-help:hover a i {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  display: inline-block;
}
.header_top .top_menu .custom-help:hover ul {
  display: block;
}
.header_top .top_menu .custom-help ul {
  display: none;
  width: 90px;
  background: #F2F2F2;
  position: absolute;
  top: 31px;
  left: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #ddd;
  border-top: none;
}
.header_top .top_menu .custom-help ul li {
  margin-bottom: 2px;
}
.header_top .top_menu .custom-help ul li a {
  float: none;
  display: block;
  line-height: 28px;
  padding: 0 20px;
  margin: 0;
  overflow: hidden;
  color: #444;
}
.header_top .top_menu .custom-help ul li a:hover {
  background: #e4e4e4;
}
.header_middle_frame {
  width: 100%;
  height: 90px;
  background: #F2F2F2;
}
.header_middle {
  margin: 0 auto;
  width: 1200px;
  height: 90px;
  font-family: sans-serif;
  font-size: 12px;
}
.header_middle .logo_link {
  float: left;
  width: 250px;
  height: 90px;
  background: url(../img/logo_link.png) no-repeat;
  background-size: 207px auto;
  background-position-y: 24px;
}
.header_middle .proces_bar {
  float: right;
  width: 494px;
}
.header_middle .proces_bar .steps {
  width: 494px;
  background: url(../img/process_sd.png) 0 18px repeat-x;
  position: relative;
  height: 23px;
  margin: 0 auto;
  padding: 18px 0 24px;
  margin-top: 15px;
}
.header_middle .proces_bar .steps .md_proces_sd {
  width: 253px;
  background: url(../img/process.png) 23px 0 repeat-x;
  position: absolute;
  top: 18px;
  left: 0;
  height: 23px;
}
.header_middle .proces_bar .steps .md_proces_m1,
.header_middle .proces_bar .steps .md_proces_m2,
.header_middle .proces_bar .steps .md_proces_m3,
.header_middle .proces_bar .steps .md_proces_m4 {
  position: absolute;
  top: 18px;
  width: 23px;
  height: 23px;
  font: 400 14px/23px helvetica, tahoma, arial, sans-serif;
  color: #fff;
  text-align: center;
}
.header_middle .proces_bar .steps .md_proces_m1 span,
.header_middle .proces_bar .steps .md_proces_m2 span,
.header_middle .proces_bar .steps .md_proces_m3 span,
.header_middle .proces_bar .steps .md_proces_m4 span {
  position: absolute;
  top: 24px;
  width: 100px;
  height: 20px;
  left: 50%;
  margin-left: -50px;
  font: 400 12px/20px helvetica, tahoma, arial, sans-serif;
  color: #999;
}
.header_middle .proces_bar .steps .md_proces_m1 {
  left: 0;
}
.header_middle .proces_bar .steps .md_proces_m1 span {
  color: #FF4466;
}
.header_middle .proces_bar .steps .md_proces_m2 {
  left: 157px;
}
.header_middle .proces_bar .steps .md_proces_m2 span {
  color: #FF4466;
}
.header_middle .proces_bar .steps .md_proces_m3 {
  left: 314px;
}
.header_middle .proces_bar .steps .md_proces_m4 {
  left: 471px;
}
.body {
  width: 100%;
}
.body_frame {
  width: 100%;
  height: auto;
  background: #F2F2F2;
  border-top: 2px solid #f46;
}
.g_wrap {
  margin: 0 auto;
  width: 1200px;
  height: auto;
  margin-top: 30px;
}
.add_adress {
  width: 1160px;
  height: auto;
  background: white;
  padding: 0px 20px;
  padding-bottom: 12px;
}
.sele_ad_title {
  color: #333;
  font-weight: 700;
  font-family: sans-serif;
  font-size: 14px;
  padding: 20px 0px;
  margin-left: 10px;
}
.cart_address_wrap {
  overflow: hidden;
  margin-bottom: 20px;
}
.cart_address_wrap ul {
  position: relative;
  overflow: hidden;
}
.cart_address_wrap ul li {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-left: 20px;
}
.cart_address_wrap ul li a {
  display: block;
  position: relative;
  padding: 10px 20px 15px;
  width: 200px;
  height: 135px;
  background: url(../img/fra.png) -240px 0 no-repeat;
  cursor: pointer;
}
.cart_address_wrap ul li a:hover {
  background-position: -480px 0;
}
.cart_address_wrap ul li a:hover .edit_b {
  display: block;
}
.cart_address_wrap ul li a h5 {
  width: 135px;
  padding-bottom: 12px;
  font: 700 14px/26px helvetica, tahoma, arial, sans-serif;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
}
.cart_address_wrap ul li a p {
  color: #666;
  font-size: 12px;
  font-family: sans-serif;
}
.cart_address_wrap ul li a .a_street {
  overflow: hidden;
  max-height: 38px;
}
.cart_address_wrap ul li a .edit_b {
  display: none;
  position: absolute;
  bottom: 14px;
  left: 190px;
  font-size: 11px;
  color: #666;
  font-style: normal;
  white-space: nowrap;
  font-family: sans-serif;
}
.cart_address_wrap ul li a .edit_b:hover {
  text-decoration: underline;
}
.addd_d {
  margin: 12px 0 12px;
  color: #999;
  font-size: 12px;
  font-family: sans-serif;
  margin-left: 10px;
}
.addd_d .add_add {
  cursor: pointer;
}
.addd_d .add_add:hover {
  color: #f46;
}
.addres_frame {
  overflow: hidden;
}
.add_selects {
  line-height: 38px;
  position: relative;
}
.add_selects dt {
  width: 90px;
  color: #666;
  text-align: right;
  font-size: 12px;
  display: block;
  float: left;
}
.add_selects dd {
  position: relative;
  padding-left: 106px;
}
.add_selects dd i {
  position: absolute;
  top: 14px;
  left: 90px;
  color: #ff5a00;
  font-size: 14px;
  line-height: 14px;
  font-style: normal;
}
.add_selects dd input {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 6px 8px;
  height: 12px;
  line-height: 12px;
  color: #666;
  border: 1px solid #c7c7c7;
  border-radius: 2px;
  outline: none;
}
.add_selects dd textarea {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 6px 8px;
  line-height: 16px;
  color: #666;
  border: 1px solid #c7c7c7;
  border-radius: 2px;
  vertical-align: top;
  width: 90%;
  outline: none;
  resize: vertical;
}
.add_selects dd span {
  padding-left: 8px;
  color: #999;
  line-height: 38px;
  font-size: 12px;
  display: block;
}
.add_selects dd .confirm_addres {
  display: block;
  width: 104px;
  height: 34px;
  background: #FDA629;
  color: white;
  text-align: center;
  margin-top: 10px;
  line-height: 34px;
  font-family: sans-serif;
  float: left;
}
.add_selects dd .cancel {
  display: block;
  width: 66px;
  height: 32px;
  border: 1px solid #ddd;
  text-align: center;
  line-height: 34px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  color: #666666;
}
.add_selects dd .province {
  background: -webkit-linear-gradient(top, #fff, #eaeaea);
  width: 140px;
  vertical-align: middle;
}
.add_selects dd .dt {
  margin-left: 12px;
  color: #666;
  font-size: 12px;
}
.add_selects dd .city {
  background: -webkit-linear-gradient(top, #fff, #eaeaea);
  width: 100px;
  vertical-align: middle;
}
.add_selects dd .area {
  background: -webkit-linear-gradient(top, #fff, #eaeaea);
  width: 100px;
  vertical-align: middle;
}
.cartslide {
  padding-left: 20px !important;
  overflow: hidden;
  background: white;
}
.cartslide li {
  float: left;
}
.cartslide li span {
  padding: 0 10px;
  color: #333;
  font-weight: 700;
  font-family: sans-serif;
  font-size: 14px;
}
.cart_nobtm {
  background: white;
}
.cart_nobtm .cart_page_wrap {
  padding: 20px 26px;
}
.cart_nobtm .cart_page_wrap .cart_table {
  width: 100%;
  border-collapse: collapse;
  border-color: grey;
  color: #333;
}
.cart_nobtm .cart_page_wrap .cart_table th {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding: 15px 0 15px;
  font-weight: 400;
  font: 12px/1.6 tahoma, arial, sans-serif;
}
.cart_nobtm .cart_page_wrap .cart_table .th_2 {
  padding-left: 8px;
  width: 420px;
  padding-right: 8px;
  text-align: left;
}
.cart_nobtm .cart_page_wrap .cart_table .th_3 {
  width: 140px;
  text-align: left;
}
.cart_nobtm .cart_page_wrap .cart_table .th_6 {
  width: 100px;
}
.cart_nobtm .cart_page_wrap .cart_table .th_7 {
  width: 80px;
}
.cart_nobtm .cart_page_wrap .cart_table td {
  border-bottom: 1px solid #EFEFEF;
  padding: 16px 0px;
  line-height: 24px;
  vertical-align: top;
}
.cart_nobtm .cart_page_wrap .cart_table .cart_table_goods_wrap {
  padding: 16px 10px;
  width: 420px;
}
.cart_nobtm .cart_page_wrap .cart_table .cart_table_goods_wrap .cart_goods_img {
  float: left;
  position: relative;
  height: 85px;
}
.cart_nobtm .cart_page_wrap .cart_table .cart_table_goods_wrap .cart_goods_img img {
  display: block;
  border: 1px solid #CCC;
}
.cart_nobtm .cart_page_wrap .cart_table .cart_table_goods_wrap .cart_goods_ti {
  display: block;
  margin: 0px 20px 0px 90px;
  line-height: 20px;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
  font-family: sans-serif;
}
.cart_nobtm .cart_page_wrap .cart_table .cart_table_goods_wrap .cart_goods_ti:hover {
  color: #FF4466;
}
.cart_nobtm .cart_page_wrap .cart_table .cart_info_size p {
  line-height: 20px;
  color: #333;
  font: 12px/1.6 tahoma, arial, sans-serif;
}
.cart_nobtm .cart_page_wrap .cart_table .cart_alcenter {
  text-align: center;
  font-size: 12px;
  font-family: sans-serif;
}
.cart_nobtm .cart_page_wrap .cart_table .cart_alcenter .cart_new_price {
  font-weight: 700;
  line-height: 20px;
}
.cart_nobtm .cart_page_wrap .cart_table .all_sun {
  text-align: center;
}
.cart_nobtm .cart_page_wrap .cart_table .all_sun input {
  width: 44px;
  text-align: center;
  color: #000;
  font-size: 14px;
  border: 0;
  height: 25px;
  background: 0 0;
  outline: none;
}
.cart_nobtm .cart_page_wrap .cart_table .true_price {
  text-align: center;
}
.cart_nobtm .cart_page_wrap .cart_table .true_price p {
  color: #F13E3A;
  font-size: 16px !important;
  line-height: 24px;
  font-family: sans-serif;
}
.cart_nobtm .cart_page_wrap .description {
  margin: 15px 0 0px;
  font-size: 12px;
  font-family: sans-serif;
  color: #666666;
}
.cart_nobtm .cart_page_wrap .description input {
  padding: 4px;
  outline: none;
  border: 1px solid #c7c7c7;
  width: 600px;
  color: #999;
  font-family: sans-serif;
  background: #fbfbfb;
  height: 18px;
  line-height: 19px;
  border-radius: 2px;
}
.cart_empty {
  width: 1108px;
  height: 220px;
  background: white;
  padding: 20px;
}
.cart_empty i {
  color: #FF4466;
  font-size: 85px;
  float: left;
  margin-left: 40%;
  margin-top: 56px;
  padding-right: 20px;
}
.cart_empty h5 {
  color: #333;
  font: 700 16px/1 helvetica, tahoma, arial, sans-serif;
  margin-bottom: 15px;
  margin-top: 75px;
}
.cart_empty ul li {
  font-size: 12px;
  color: #666;
  font-family: sans-serif;
  margin-top: 5px;
}
.cart_empty ul li a {
  color: #FF4466;
}
.cartpaybar {
  position: relative;
  height: 50px;
  background: #FFF none repeat scroll 0% 0%;
  border-top: 1px solid #DDD;
  line-height: 50px;
  clear: both;
}
.cartpay_vmbox {
  float: left;
  position: relative;
  padding-left: 30px;
  width: 300px;
  line-height: 50px;
  color: #333;
  font-family: sans-serif;
  font-size: 12px;
}
.cartpay_vmbox a {
  margin-right: 10px !important;
  color: #666666;
  text-decoration: underline;
}
.cartpay_vmbox a:hover {
  color: #FF4466;
}
.sub_btn {
  float: right;
  display: block;
  width: 152px;
  height: 51px;
  margin-top: -1px;
  overflow: hidden;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  font-family: sans-serif;
}
.sub_btn i {
  margin-left: 7px;
  font-size: 22px;
}
.all_pay_price {
  float: right;
  position: relative;
  padding: 0px 12px 0px 8px;
  display: inline-block;
  font-weight: 700;
  font-size: 26px;
  color: #FF5858;
  font-family: "Microsoft YaHei", sans-serif;
}
.cart_all_money_info {
  color: #666 !important;
  float: right;
  line-height: 50px;
  font-size: 12px;
  font-family: sans-serif;
}
.cart_all_money_info span {
  color: #FF4466;
}
.footer {
  width: 100%;
}
.footer_frame {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 60px 0px;
  font-size: 12px;
  color: #999;
}
.footer_oz {
  margin: 0 auto;
  width: 1200px;
}
.footer_links {
  text-align: center;
  font-family: sans-serif;
}
.footer_links a {
  color: #999;
}
.footer_links a:hover {
  color: #FF4466;
}
.footer_icons {
  padding-top: 16px;
  height: 28px;
  text-align: center;
}
.footer_icons a {
  display: inline-block;
  height: 28px;
  vertical-align: top;
  cursor: default;
  background: url(../img/split.png);
  background-repeat: no-repeat;
}
.footer_icons .vs {
  width: 80px;
  background-position: 0 -50px;
}
.footer_icons .mc {
  width: 74px;
  background-position: -90px -50px;
}
.footer_icons .up {
  width: 50px;
  background-position: -178px -50px;
}
.footer_icons .pa {
  width: 164px;
  background-position: -240px -50px;
}
.footer_icons .kx {
  width: 84px;
  background-position: -400px -50px;
}
.footer_icons .pc {
  width: 50px;
  background-position: -486px -50px;
}
/*# sourceMappingURL=confirmorders.css.map */
