* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.common_section {
  width: 100%;
}
.common_width {
  margin: 0 auto;
  width: 1200px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.a_fontset {
  font-family: sans-serif;
  font-size: 12px;
  color: #333;
  transition: all 0.5s;
}
.a_fontset:hover {
  color: #F46;
}
.header {
  width: 100%;
}
.header_top_frame {
  width: 100%;
  height: 31px;
  background: #f2f2f2;
  border-bottom: 1px solid #ddd;
}
.header_top {
  margin: 0 auto;
  width: 1200px;
  height: 31px;
  background: #F2F2F2;
  font-family: sans-serif;
  font-size: 12px;
}
.header_top .home_link {
  float: left;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  vertical-align: top;
  font-family: sans-serif;
  font-size: 12px;
  color: #333;
  transition: all 0.5s;
}
.header_top .home_link:hover {
  color: #F46;
}
.header_top .home_link i {
  font-size: 16px;
  margin-right: 4px;
}
.header_top .top_menu {
  float: right;
}
.header_top .top_menu .s1 {
  float: left;
  display: inline;
  height: 31px;
  position: relative;
  margin: 0px 0px 0px 15px;
  z-index: 100;
}
.header_top .top_menu .s1 .menu_name {
  float: left;
  margin-top: 8px;
  line-height: 14px;
  font-family: sans-serif;
  font-size: 12px;
  color: #333;
  transition: all 0.5s;
}
.header_top .top_menu .s1 .menu_name:hover {
  color: #F46;
}
.header_top .top_menu .has-line .menu_name {
  padding-left: 15px;
  border-left: 1px solid #ddd;
}
.header_top .top_menu .has-line i {
  margin-right: 4px;
}
.header_top .top_menu .icon-b .cus {
  padding-left: 15px;
  border-left: 1px solid #ddd;
}
.header_top .top_menu .icon-b i {
  margin-left: 4px;
  transition: all 0.3s;
}
.header_top .top_menu .login_user:hover a i {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  display: inline-block;
}
.header_top .top_menu .login_user:hover ul {
  display: block;
}
.header_top .top_menu .login_user ul {
  display: none;
  width: 90px;
  background: #F2F2F2;
  position: absolute;
  top: 31px;
  left: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #ddd;
  border-top: none;
}
.header_top .top_menu .login_user ul li {
  margin-bottom: 2px;
}
.header_top .top_menu .login_user ul li a {
  float: none;
  display: block;
  line-height: 28px;
  padding: 0 20px;
  margin: 0;
  overflow: hidden;
  color: #444;
}
.header_top .top_menu .login_user ul li a:hover {
  background: #e4e4e4;
}
.header_top .top_menu .my-store a {
  padding-left: 15px;
  border-left: 1px solid #ddd;
}
.header_top .top_menu .my-store span {
  margin-right: 4px;
  width: 21px;
  height: 21px;
  display: block;
  background: #FF5858;
  float: left;
  font-size: 8px;
  color: white;
  text-align: center;
  line-height: 21px;
  border-radius: 3px;
  margin-top: -3px;
}
.header_top .top_menu .shoping-car:hover .shoping_list {
  display: block;
}
.header_top .top_menu .shoping-car i {
  color: #f46;
  font-size: 14px;
}
.header_top .top_menu .shoping-car .shoping_list {
  display: none;
  width: 250px;
  background: #F2F2F2;
  position: absolute;
  top: 31px;
  left: -100px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #ddd;
  border-top: none;
  padding: 20px;
}
.header_top .top_menu .shoping-car .shoping_list li {
  width: 100%;
  height: 40px;
  float: left;
  margin-bottom: 10px;
}
.header_top .top_menu .shoping-car .shoping_list li .shop_img {
  float: left;
  margin-right: 10px;
}
.header_top .top_menu .shoping-car .shoping_list li .shoping_name {
  display: inline-block;
  color: #333;
  width: 137px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  transition: all 0.6s;
}
.header_top .top_menu .shoping-car .shoping_list li .shoping_name:hover {
  color: #FF4466;
}
.header_top .top_menu .shoping-car .shoping_list li .shoping_price {
  float: right;
  color: #666;
}
.header_top .top_menu .shoping-car .shoping_list li .shoping_info {
  float: left;
  color: #999;
}
.header_top .top_menu .shoping-car .shoping_list li .shoping_dell {
  float: right;
  cursor: pointer;
  color: #999;
}
.header_top .top_menu .shoping-car .shoping_list .nogood {
  text-align: center;
  line-height: 40px;
  color: #999;
}
.header_top .top_menu .shoping-car .shoping_list .subbox {
  border-top: 1px solid #ddd;
  color: #333;
  padding: 15px 0 0 0;
  line-height: 24px;
  height: 24px;
  float: left;
  width: 100%;
}
.header_top .top_menu .shoping-car .shoping_list .subbox .caring {
  color: white;
  float: right;
  display: block;
  background: #F46;
  border: none;
  padding: 0px 16px;
  border-radius: 4px;
  font-size: 12px;
}
.header_top .top_menu .custom-help:hover a i {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  display: inline-block;
}
.header_top .top_menu .custom-help:hover ul {
  display: block;
}
.header_top .top_menu .custom-help ul {
  display: none;
  width: 90px;
  background: #F2F2F2;
  position: absolute;
  top: 31px;
  left: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #ddd;
  border-top: none;
}
.header_top .top_menu .custom-help ul li {
  margin-bottom: 2px;
}
.header_top .top_menu .custom-help ul li a {
  float: none;
  display: block;
  line-height: 28px;
  padding: 0 20px;
  margin: 0;
  overflow: hidden;
  color: #444;
}
.header_top .top_menu .custom-help ul li a:hover {
  background: #e4e4e4;
}
.header_middle_frame {
  width: 100%;
  height: 108px;
  background: white;
}
.header_middle {
  margin: 0 auto;
  width: 1200px;
  height: 108px;
  font-family: sans-serif;
  font-size: 12px;
}
.header_middle .logo_link {
  float: left;
  width: 250px;
  height: 108px;
  background: url(../img/logo_link.png) no-repeat;
  background-size: 207px auto;
  background-position-y: 24px;
}
.header_middle .search_frame {
  position: relative;
  z-index: 50;
  float: left;
  width: 502px;
  margin: 35px 0 0 132px;
}
.header_middle .search_frame .search_inner_box {
  border: 1px solid #3a3a3a;
  height: 35px;
  width: 100%;
}
.header_middle .search_frame .search_inner_box .selectbox {
  position: relative;
  float: left;
  width: 70px;
  z-index: 10;
}
.header_middle .search_frame .search_inner_box .selectbox:hover ul {
  display: block;
}
.header_middle .search_frame .search_inner_box .selectbox span {
  display: block;
  height: 33px;
  line-height: 32px;
  padding-left: 12px;
  color: #666;
  cursor: pointer;
  background-color: #fff;
}
.header_middle .search_frame .search_inner_box .selectbox ul {
  display: none;
  width: 70px;
  position: absolute;
  height: auto;
  left: -1px;
  top: 35px;
  border: 1px solid #cecece;
  border-top: 1px solid #3a3a3a;
  background: white;
}
.header_middle .search_frame .search_inner_box .selectbox ul a {
  display: block;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  color: #666;
  text-align: center;
}
.header_middle .search_frame .search_inner_box .selectbox ul a:hover {
  background: #f7f7f7;
  color: #666;
}
.header_middle .search_frame .search_inner_box .search_content {
  float: left;
  height: 21px;
  line-height: 20px;
  padding: 6px 10px 6px 6px;
  _padding: 6px 9px 6px 6px;
  _width: 343px;
  width: 344px;
  border: none;
  color: #999;
  font-size: 12px;
  outline: none;
}
.header_middle .search_frame .search_inner_box .search_btn {
  float: left;
  height: 35px;
  overflow: hidden;
  width: 72px;
  _width: 66px;
  _float: right;
  background-color: #3a3a3a;
  border: none;
  cursor: pointer;
  color: #fff;
}
.header_middle .search_frame .search_inner_box .icon-search {
  position: absolute;
  right: 26px;
  color: white;
  top: 11px;
  font-size: 16px;
  cursor: pointer;
}
.header_middle .hot_words {
  margin-left: -16px;
  white-space: nowrap;
  width: 518px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}
.header_middle .hot_words a {
  line-height: 1;
  padding: 0 0 0 16px;
  color: #999999;
}
.header_middle .hot_words a:hover {
  color: #FF4466;
}
.body {
  width: 100%;
}
.body_frame {
  width: 100%;
  height: auto;
  background: white;
}
.nav_frame {
  width: 100%;
  height: 36px;
  background: white;
  border-bottom: 1px solid #f46;
}
.navigation {
  margin: 0 auto;
  width: 1200px;
  height: 36px;
  font-family: sans-serif;
  font-size: 12px;
}
.navigation .sp_title {
  width: 225px;
  height: 36px;
  background: #FF4466;
  font-family: "宋体", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: white;
  text-align: center;
  line-height: 36px;
  margin-right: 30px;
  border-radius: 5px 5px 0px 0px;
  float: left;
}
.navigation ul li {
  line-height: 36px;
  color: #333;
  font-family: "宋体", sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 0 15px;
  position: relative;
  float: left;
}
.navigation ul li a {
  padding: 2px 15px;
  color: #333;
}
.navigation ul li a:hover {
  color: #FF4466;
}
.tab_pic {
  margin: 0 auto;
  width: 1200px;
  margin-top: 10px;
}
.common_goods_box {
  margin: 0 auto;
  width: 1200px;
  font-family: sans-serif;
}
.sub_title {
  line-height: 32px;
  font-size: 24px;
  font-weight: 400;
  color: #333;
  margin-top: 30px;
  margin-bottom: 8px;
  font-family: "Microsoft Yahei";
}
.sp_filter {
  position: relative;
  border: 1px solid #e5e5e5;
  z-index: 12;
  margin-top: 5px;
  overflow: hidden;
}
.filter_left {
  font-size: 0;
  height: 24px;
  padding: 7px 0;
  width: 631px;
  line-height: 24px;
  float: left;
}
.filter_left .sort_container a {
  padding: 0 20px;
  _padding: 0 18px;
  text-align: center;
  border-right: 1px solid #e5e5e5;
  font-size: 12px;
  float: left;
  font-weight: 700;
  color: #333;
}
.filter_left .sort_container a:hover {
  color: #FF4466;
}
.filter_left .sort_container .slc_a {
  color: #FF4466;
}
.filter_left .price_sort {
  margin-left: 20px;
  height: 24px;
  display: inline-block;
  vertical-align: top;
  float: left;
}
.filter_left .price_sort .text {
  float: left;
  width: 46px;
  height: 22px;
  line-height: 22px;
  display: inline-block;
  border: 1px solid #dadada;
  font-size: 12px;
}
.filter_left .price_sort .text span {
  float: left;
  color: #999;
}
.filter_left .price_sort .text input {
  float: left;
  border: none;
  width: 34px;
  height: 22px;
  line-height: 22px;
  outline: none;
}
.filter_left .price_sort .divid {
  float: left;
  margin: 0 5px;
  font-size: 12px;
}
.filter_left .price_sort .sbt {
  background: 0 0;
  border: 1px solid #dadada;
  color: #333;
  width: 45px;
  height: 22px;
  line-height: 22px;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  font-size: 12px;
}
.filter_left .price_choice {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  border-left: 1px solid #e5e5e5;
  height: 24px;
}
.filter_left .price_choice li {
  width: 64px;
  text-align: center;
  height: 22px;
  line-height: 22px;
  font-size: 0;
  display: inline-block;
  border: 1px solid #E5E5E5;
  border-left: none;
  padding: 0 5px;
  float: left;
}
.filter_left .price_choice li a {
  font-size: 12px;
  color: #333;
}
.filter_left .price_choice li a:hover {
  color: #FF4466;
}
.filter_right {
  z-index: 13;
  position: relative;
  height: 38px;
  margin-left: 5px;
  float: left;
}
.filter_right .ver_line {
  width: 1px;
  background: #E5E5E5;
  height: 16px;
  display: block;
  float: left;
  margin: 12px 30px 0px 0px;
}
.filter_right a {
  margin-right: 20px;
  white-space: nowrap;
  vertical-align: middle;
  float: left;
  height: 38px;
  line-height: 38px;
  cursor: pointer;
}
.filter_right a input {
  float: left;
  _float: none;
  margin-top: 14px;
  margin-right: 4px;
}
.filter_right a label {
  font-size: 12px;
  cursor: pointer;
  color: #333;
}
.goods_wall {
  margin: 0 auto;
  width: 1225px;
  font-family: sans-serif;
  margin-top: 30px;
  overflow: hidden;
}
.goods_content {
  margin: 0 25px 50px 0;
  width: 220px;
  float: left;
  position: relative;
  overflow: hidden;
}
.goods_content a {
  display: block;
  width: 220px;
  min-height: 220px;
  background: #fff;
  overflow: hidden;
}
.goods_content a:hover {
  color: #FF4466;
}
.goods_content a img {
  width: 100%;
  height: 330px;
}
.goods_content p {
  position: relative;
  margin-top: 10px;
  padding-left: 5px;
  font-size: 14px;
  width: 215px;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  float: left;
}
.goods_content p a {
  width: 100%;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #666;
}
.goods_content .goods_info {
  margin-top: 10px;
  padding-left: 5px;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  float: left;
}
.goods_content .goods_info b {
  float: left;
  color: #f36;
  font-weight: 400;
  font-size: 14px;
  font-family: "Microsoft Yahei";
}
.goods_content .goods_info b i {
  font-style: normal;
  font-family: "Microsoft Yahei";
}
.goods_content .goods_info .fav_num {
  float: left;
  margin: 0 0 0 16px;
  padding-left: 20px;
  color: #CBCBCB;
  font-size: 13px;
}
.pagination {
  clear: both;
  text-align: center;
}
.pagination a {
  display: inline-block;
  margin-right: 12px;
  padding: 0px 8px;
  line-height: 24px;
  font-size: 14px;
  color: #333;
  font-family: sans-serif;
}
.pagination a:hover {
  color: #FF4466;
}
.pagination .c {
  background: #333 none repeat scroll 0% 0%;
  color: #FFF;
}
.pagination .hulvo {
  display: inline-block;
  padding: 0px 8px;
  line-height: 24px;
  font-size: 14px;
  color: #333;
  margin-right: 12px;
}
.footer {
  width: 100%;
}
.footer_frame {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 90px;
  font-size: 12px;
  background: #FBFBFB url("../img/footer_bg.png") repeat-x scroll center top;
  color: #333;
}
.footer_oz {
  margin: 0 auto;
  width: 1200px;
}
.footer_wrap {
  padding: 30px 0 0 1px;
  overflow: hidden;
}
.footer_wrap .foot_info {
  overflow: hidden;
  float: left;
  width: 246px;
}
.footer_wrap .foot_info a {
  display: block;
  height: 35px;
  background: url(../img/logo_link.png) no-repeat;
  background-size: auto 35px;
}
.footer_wrap .foot_info .info_text {
  overflow: hidden;
  margin-top: 2px;
}
.footer_wrap .foot_info .info_text p {
  height: 16px;
  line-height: 16px;
  margin-top: 5px;
  color: #999;
}
.foot_link {
  float: left;
  margin-left: -30px;
}
.foot_link dl {
  float: left;
  margin-left: 121px;
}
.foot_link dl dt {
  padding-bottom: 3px;
  color: #333;
  font-weight: 700;
}
.foot_link dl dd {
  margin-top: 8px;
  height: 14px;
}
.foot_link dl dd a {
  color: #666;
}
.foot_link dl dd a:hover {
  text-decoration: underline;
}
.foot_link .link_safe {
  float: left;
  margin-left: 121px;
  padding-bottom: 15px;
}
.foot_link .link_safe a {
  float: left;
  height: 28px;
  vertical-align: top;
  background: url(../img/split.png) no-repeat;
}
.foot_link .link_safe .pc {
  width: 50px;
  background-position: -486px -50px;
}
.foot_link .link_safe .pa {
  width: 164px;
  vertical-align: top;
  background-position: -240px -50px;
}
.foot_link .link_safe .fol {
  width: 84px;
  background-position: -400px -50px;
}
.footer_links {
  border-top: 1px solid #e5e5e5;
  margin-top: 10px;
  padding-top: 10px;
  background: #fbfbfb;
  overflow: hidden;
  padding-bottom: 20px;
}
.footer_links li {
  float: left;
}
.footer_links li a {
  color: #4d4d4d;
  font-size: 12px;
  padding: 10px 14px;
}
.footer_links li a:hover {
  color: #FF4466;
}
/*# sourceMappingURL=list.css.map */
