* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.common_section {
  width: 100%;
}
.common_width {
  margin: 0 auto;
  width: 1200px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.a_fontset {
  font-family: sans-serif;
  font-size: 12px;
  color: #333;
  transition: all 0.5s;
}
.a_fontset:hover {
  color: #F46;
}
.header {
  width: 100%;
}
.header_top_frame {
  width: 100%;
  height: 31px;
  background: #f2f2f2;
  border-bottom: 1px solid #ddd;
}
.header_top {
  margin: 0 auto;
  width: 1200px;
  height: 31px;
  background: #F2F2F2;
  font-family: sans-serif;
  font-size: 12px;
}
.header_top .home_link {
  float: left;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  vertical-align: top;
  font-family: sans-serif;
  font-size: 12px;
  color: #333;
  transition: all 0.5s;
}
.header_top .home_link:hover {
  color: #F46;
}
.header_top .home_link i {
  font-size: 16px;
  margin-right: 4px;
}
.header_top .top_menu {
  float: right;
}
.header_top .top_menu .s1 {
  float: left;
  display: inline;
  height: 31px;
  position: relative;
  margin: 0px 0px 0px 15px;
  z-index: 100;
}
.header_top .top_menu .s1 .menu_name {
  float: left;
  margin-top: 8px;
  line-height: 14px;
  font-family: sans-serif;
  font-size: 12px;
  color: #333;
  transition: all 0.5s;
}
.header_top .top_menu .s1 .menu_name:hover {
  color: #F46;
}
.header_top .top_menu .has-line .menu_name {
  padding-left: 15px;
  border-left: 1px solid #ddd;
}
.header_top .top_menu .has-line i {
  margin-right: 4px;
}
.header_top .top_menu .icon-b .cus {
  padding-left: 15px;
  border-left: 1px solid #ddd;
}
.header_top .top_menu .icon-b i {
  margin-left: 4px;
  transition: all 0.3s;
}
.header_top .top_menu .login_user:hover a i {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  display: inline-block;
}
.header_top .top_menu .login_user:hover ul {
  display: block;
}
.header_top .top_menu .login_user ul {
  display: none;
  width: 90px;
  background: #F2F2F2;
  position: absolute;
  top: 31px;
  left: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #ddd;
  border-top: none;
}
.header_top .top_menu .login_user ul li {
  margin-bottom: 2px;
}
.header_top .top_menu .login_user ul li a {
  float: none;
  display: block;
  line-height: 28px;
  padding: 0 20px;
  margin: 0;
  overflow: hidden;
  color: #444;
}
.header_top .top_menu .login_user ul li a:hover {
  background: #e4e4e4;
}
.header_top .top_menu .my-store a {
  padding-left: 15px;
  border-left: 1px solid #ddd;
}
.header_top .top_menu .my-store span {
  margin-right: 4px;
  width: 21px;
  height: 21px;
  display: block;
  background: #FF5858;
  float: left;
  font-size: 8px;
  color: white;
  text-align: center;
  line-height: 21px;
  border-radius: 3px;
  margin-top: -3px;
}
.header_top .top_menu .shoping-car:hover .shoping_list {
  display: block;
}
.header_top .top_menu .shoping-car i {
  color: #f46;
  font-size: 14px;
}
.header_top .top_menu .shoping-car .shoping_list {
  display: none;
  width: 250px;
  background: #F2F2F2;
  position: absolute;
  top: 31px;
  left: -100px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #ddd;
  border-top: none;
  padding: 20px;
}
.header_top .top_menu .shoping-car .shoping_list li {
  width: 100%;
  height: 40px;
  float: left;
  margin-bottom: 10px;
}
.header_top .top_menu .shoping-car .shoping_list li .shop_img {
  float: left;
  margin-right: 10px;
}
.header_top .top_menu .shoping-car .shoping_list li .shoping_name {
  display: inline-block;
  color: #333;
  width: 137px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  transition: all 0.6s;
}
.header_top .top_menu .shoping-car .shoping_list li .shoping_name:hover {
  color: #FF4466;
}
.header_top .top_menu .shoping-car .shoping_list li .shoping_price {
  float: right;
  color: #666;
}
.header_top .top_menu .shoping-car .shoping_list li .shoping_info {
  float: left;
  color: #999;
}
.header_top .top_menu .shoping-car .shoping_list li .shoping_dell {
  float: right;
  cursor: pointer;
  color: #999;
}
.header_top .top_menu .shoping-car .shoping_list .nogood {
  text-align: center;
  line-height: 40px;
  color: #999;
}
.header_top .top_menu .shoping-car .shoping_list .subbox {
  border-top: 1px solid #ddd;
  color: #333;
  padding: 15px 0 0 0;
  line-height: 24px;
  height: 24px;
  float: left;
  width: 100%;
}
.header_top .top_menu .shoping-car .shoping_list .subbox .caring {
  color: white;
  float: right;
  display: block;
  background: #F46;
  border: none;
  padding: 0px 16px;
  border-radius: 4px;
  font-size: 12px;
}
.header_top .top_menu .custom-help:hover a i {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  display: inline-block;
}
.header_top .top_menu .custom-help:hover ul {
  display: block;
}
.header_top .top_menu .custom-help ul {
  display: none;
  width: 90px;
  background: #F2F2F2;
  position: absolute;
  top: 31px;
  left: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #ddd;
  border-top: none;
}
.header_top .top_menu .custom-help ul li {
  margin-bottom: 2px;
}
.header_top .top_menu .custom-help ul li a {
  float: none;
  display: block;
  line-height: 28px;
  padding: 0 20px;
  margin: 0;
  overflow: hidden;
  color: #444;
}
.header_top .top_menu .custom-help ul li a:hover {
  background: #e4e4e4;
}
.header_middle_frame {
  width: 100%;
  height: 108px;
  background: white;
}
.header_middle {
  margin: 0 auto;
  width: 1200px;
  height: 108px;
  font-family: sans-serif;
  font-size: 12px;
}
.header_middle .logo_link {
  float: left;
  width: 250px;
  height: 108px;
  background: url(../img/logo_link.png) no-repeat;
  background-size: 207px auto;
  background-position-y: 24px;
}
.header_middle .search_frame {
  position: relative;
  z-index: 50;
  float: left;
  width: 502px;
  margin: 35px 0 0 132px;
}
.header_middle .search_frame .search_inner_box {
  border: 1px solid #3a3a3a;
  height: 35px;
  width: 100%;
}
.header_middle .search_frame .search_inner_box .selectbox {
  position: relative;
  float: left;
  width: 70px;
  z-index: 10;
}
.header_middle .search_frame .search_inner_box .selectbox:hover ul {
  display: block;
}
.header_middle .search_frame .search_inner_box .selectbox span {
  display: block;
  height: 33px;
  line-height: 32px;
  padding-left: 12px;
  color: #666;
  cursor: pointer;
  background-color: #fff;
}
.header_middle .search_frame .search_inner_box .selectbox ul {
  display: none;
  width: 70px;
  position: absolute;
  height: auto;
  left: -1px;
  top: 35px;
  border: 1px solid #cecece;
  border-top: 1px solid #3a3a3a;
  background: white;
}
.header_middle .search_frame .search_inner_box .selectbox ul a {
  display: block;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  color: #666;
  text-align: center;
}
.header_middle .search_frame .search_inner_box .selectbox ul a:hover {
  background: #f7f7f7;
  color: #666;
}
.header_middle .search_frame .search_inner_box .search_content {
  float: left;
  height: 21px;
  line-height: 20px;
  padding: 6px 10px 6px 6px;
  _padding: 6px 9px 6px 6px;
  _width: 343px;
  width: 344px;
  border: none;
  color: #999;
  font-size: 12px;
  outline: none;
}
.header_middle .search_frame .search_inner_box .search_btn {
  float: left;
  height: 35px;
  overflow: hidden;
  width: 72px;
  _width: 66px;
  _float: right;
  background-color: #3a3a3a;
  border: none;
  cursor: pointer;
  color: #fff;
}
.header_middle .search_frame .search_inner_box .icon-search {
  position: absolute;
  right: 26px;
  color: white;
  top: 11px;
  font-size: 16px;
  cursor: pointer;
}
.header_middle .hot_words {
  margin-left: -16px;
  white-space: nowrap;
  width: 518px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}
.header_middle .hot_words a {
  line-height: 1;
  padding: 0 0 0 16px;
  color: #999999;
}
.header_middle .hot_words a:hover {
  color: #FF4466;
}
.body {
  width: 100%;
  border-top: 2px solid #ff4466;
  height: auto;
  overflow: hidden;
  background: #F2F2F2;
  padding-bottom: 90px;
}
.box_frame {
  width: 1080px;
  height: auto;
  margin: 0px auto;
  margin-top: 20px;
  overflow: hidden;
}
.left_box {
  width: 160px;
  height: auto;
  float: left;
  overflow: hidden;
}
.left_box .u_a_box {
  width: 160px;
  height: 150px;
  margin-bottom: 20px;
  background: white;
  overflow: hidden;
}
.left_box .u_a_box a {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.left_box .u_a_box a img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.left_box .u_a_box p {
  text-align: center;
  font-family: sans-serif;
}
.left_box .u_a_box .vv {
  overflow: hidden;
}
.left_box .u_a_box .vv span {
  width: 20px;
  height: 20px;
  display: block;
  margin: 5px auto;
  background: #f46;
  border-radius: 100%;
  color: white;
  overflow: hidden;
}
.left_box .u_a_box .vv span .vf {
  font-size: 20px;
  margin-top: 5px;
  margin-left: 1px;
  width: 10px;
  height: 10px;
  display: block;
  text-align: center;
  line-height: 10px;
  font-family: sans-serif;
}
.left_box .u_a_box .vv span .vn {
  font-size: 9px;
  margin-top: -7px;
  margin-left: 8px;
  width: 10px;
  height: 10px;
  display: block;
  text-align: center;
  line-height: 10px;
  font-family: sans-serif;
}
.left_box ul li {
  width: 158px;
  height: 40px;
  background: #FFFFFF;
  text-align: left;
  line-height: 40px;
  border-left: 2px solid #FFFFFF;
}
.left_box ul li:hover {
  border-color: #FF4466;
  background: #F7F7F7;
}
.left_box ul li a {
  color: #666;
  font-family: sans-serif;
  font-size: 13px;
  margin-left: 10px;
  display: block;
}
.left_box ul .selected {
  border-left: 2px solid #FF4466;
  background: #F7F7F7;
}
.left_box .qcode {
  width: 160px;
  height: 160px;
  margin-top: 20px;
}
.left_box .qcode img {
  width: 160px;
  height: 160px;
}
.right_box {
  width: 860px;
  min-height: 300px;
  background: white;
  float: right;
  overflow: hidden;
  padding: 20px;
}
.menu_title {
  padding-bottom: 10px;
  border-bottom: 1px solid #cecece;
  color: #f46;
}
.footer {
  width: 100%;
}
.footer_frame {
  width: 100%;
  height: auto;
  overflow: hidden;
  font-size: 12px;
  background: #FBFBFB url("../img/footer_bg.png") repeat-x scroll center top;
  color: #333;
}
.footer_oz {
  margin: 0 auto;
  width: 1200px;
}
.footer_wrap {
  padding: 30px 0 0 1px;
  overflow: hidden;
}
.footer_wrap .foot_info {
  overflow: hidden;
  float: left;
  width: 246px;
}
.footer_wrap .foot_info a {
  display: block;
  height: 35px;
  background: url(../img/logo_link.png) no-repeat;
  background-size: auto 35px;
}
.footer_wrap .foot_info .info_text {
  overflow: hidden;
  margin-top: 2px;
}
.footer_wrap .foot_info .info_text p {
  height: 16px;
  line-height: 16px;
  margin-top: 5px;
  color: #999;
}
.foot_link {
  float: left;
  margin-left: -30px;
}
.foot_link dl {
  float: left;
  margin-left: 121px;
}
.foot_link dl dt {
  padding-bottom: 3px;
  color: #333;
  font-weight: 700;
}
.foot_link dl dd {
  margin-top: 8px;
  height: 14px;
}
.foot_link dl dd a {
  color: #666;
}
.foot_link dl dd a:hover {
  text-decoration: underline;
}
.foot_link .link_safe {
  float: left;
  margin-left: 121px;
  padding-bottom: 15px;
}
.foot_link .link_safe a {
  float: left;
  height: 28px;
  vertical-align: top;
  background: url(../img/split.png) no-repeat;
}
.foot_link .link_safe .pc {
  width: 50px;
  background-position: -486px -50px;
}
.foot_link .link_safe .pa {
  width: 164px;
  vertical-align: top;
  background-position: -240px -50px;
}
.foot_link .link_safe .fol {
  width: 84px;
  background-position: -400px -50px;
}
.footer_links {
  border-top: 1px solid #e5e5e5;
  margin-top: 10px;
  padding-top: 10px;
  background: #fbfbfb;
  overflow: hidden;
  padding-bottom: 20px;
}
.footer_links li {
  float: left;
}
.footer_links li a {
  color: #4d4d4d;
  font-size: 12px;
  padding: 10px 14px;
}
.footer_links li a:hover {
  color: #FF4466;
}
/*# sourceMappingURL=ucenter.css.map */
